{{ 'SATNOGS_API_TOKEN="' ~ satnogs_api_token ~ '"' if satnogs_api_token is defined }}
{{ 'SATNOGS_NETWORK_API_URL="' ~ satnogs_network_api_url ~ '"' if satnogs_network_api_url is defined }}
{{ 'SATNOGS_RX_DEVICE="' ~ satnogs_rx_device ~ '"' if satnogs_rx_device  is defined }}
{{ 'SATNOGS_STATION_ELEV="' ~ satnogs_station_elev ~ '"' if satnogs_station_elev is defined }}
{{ 'SATNOGS_STATION_ID="' ~ satnogs_station_id ~ '"' if satnogs_station_id is defined }}
{{ 'SATNOGS_STATION_LAT="' ~ satnogs_station_lat ~ '"' if satnogs_station_lat is defined }}
{{ 'SATNOGS_STATION_LON="' ~ satnogs_station_lon ~ '"' if satnogs_station_lon is defined }}
