SATNOGS_SETUP_ANSIBLE_URL="{{ satnogs_setup_ansible_url }}"
SATNOGS_SETUP_ANSIBLE_BRANCH="{{ satnogs_setup_ansible_branch }}"
SATNOGS_SETUP_RELEASE_UPGRADE_ENABLED="{{ satnogs_setup_release_upgrade_enabled | ternary('1', '0') }}"
