{% if not experimental %}
Package: gr-satnogs
Pin: version {{ satnogs_radio_gr_satnogs_version }}
Pin-Priority: 1001

Package: libgnuradio-satnogs
Pin: version {{ satnogs_radio_gr_satnogs_version }}
Pin-Priority: 1001
{% endif %}
